<div class="contextual">
  <% if Redmine::VERSION::MAJOR == 1 && Redmine::VERSION::MINOR == 0 %>
    <%= link_to(l(:label_overall_activity), :controller => 'projects',
                                            :action => 'activity',
                                            :id => nil,
                                            :user_id => @user,
                                            :from => @events_by_day.keys.first) %>
  <% else %>
    <%= link_to(l(:label_overall_activity), :controller => 'activities',
                                            :action => 'index',
                                            :id => nil,
                                            :user_id => @user,
                                            :from => @events_by_day.keys.first) %>
  <% end %>
</div>

<script type="text/javascript">
  //<![CDATA[
  <% if defined? observe_field %>
    var rightColumn = $('content').down('.splitcontentright');
    var activityTab = $('tab-content-activity');
    rightColumn.down('h3').hide();
    activityTab.insert(rightColumn.down('p'));
    activityTab.insert(rightColumn.down('#activity'));
    activityTab.insert(rightColumn.down('p.other-formats'));
  <% else %>
    var rightColumn = $('#content').find('.splitcontentright');
    var activityTab = $('#tab-content-activity');
    rightColumn.find('h3').hide();
    activityTab.append(rightColumn.find('p'));
    activityTab.append(rightColumn.find('#activity'));
    activityTab.append(rightColumn.find('p.other-formats'));
  <% end %>
  //]]>
</script>
